@page "/"
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>Token in url: @token1</p>
<p>Token on server: @token2</p>


@code {
    private string token1 = string.Empty;
    private string token2 = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        // Parse the query string
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        // Get a specific query parameter value
        if (query.TryGetValue("t", out var value))
        {
            token1 = value;
        }



        var client = HttpClientFactory.CreateClient("BackendApi");
        var tokenResponse = await client.GetAsync("api/Token");
        token2 = await tokenResponse.Content.ReadAsStringAsync();
    }

}
