@inject NavigationManager Navigation
@inject LogoutService LogoutService
@using GC = FrontendServer.GlobalConstants;

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FrontendServer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="machines">
                <span class="oi oi-plus" aria-hidden="true"></span> Machines
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="permission">
                <span class="oi oi-plus" aria-hidden="true"></span> Permissions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="role">
                <span class="oi oi-plus" aria-hidden="true"></span> User Roles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="audit">
                <span class="oi oi-plus" aria-hidden="true"></span> Audit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="organisation">
                <span class="oi oi-plus" aria-hidden="true"></span> Organisation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <span class="oi oi-plus" aria-hidden="true"></span> Config
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        var store = await ProtectedSessionStore.GetAsync<string>(GC.TokenCacheKey);
        await ProtectedSessionStore.DeleteAsync(GC.TokenCacheKey);
        LogoutService.LogoutAsync(store.Value);
        Navigation.NavigateTo("https://localhost:7289", forceLoad: true);
    }

}
