@inherits BasePage

<PageTitle>@title</PageTitle>

<div class="title-container">
    <div class="title"><Label Key=@TitleKey></Label></div>
    <div class="page-code">@PageCode</div>
</div>
<div class="subtitle">
    @ChildContent
</div>



@code {
    [Parameter] public string TitleKey { get; set; }
    [Parameter] public string PageCode { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string title;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender){
            await InitialiseBasePage();
            title = GetLabel(TitleKey);
            StateHasChanged();
        }
    }
}