.title-container {
    display: flex;
    justify-content: space-between; /* Places one item on the left and one on the right */
    align-items: center; /* Ensures vertical alignment */
    width: 100%; /* Ensures it takes up the full width */
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    color: blue;
}

.page-code {
    font-size: 10px;
    color: gray;
}

.subtitle {
    margin-bottom: 5px;
}