.title-container {
    display: flex;
    justify-content: space-between; /* Places one item on the left and one on the right */
    align-items: center; /* Ensures vertical alignment */
    width: 100%; /* Ensures it takes up the full width */
}

.page-code {
    font-size: 10px;
    color: gray;
}

.title {
    font-family: 'Playfair Display' !important;
    font-weight: bold;
    font-size: 2.5rem !important;
    margin-bottom: 5px;
}

.title-light {
    color: var(--button-overlay-light) !important;
}

.title-dark {
    color: #F0F0F0 !important;
}

.subtitle {
    margin-bottom: 5px;
    font-size: 0.9rem !important;
}

.subtitle-light {
    color: slategrey !important;
}

.subtitle-dark {
    color: slategray !important;
}

/* Light mode */
.toolbar {
    background-color: var(--toolbar-bg-light);
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
    .toolbar {
        background-color: var(--toolbar-bg-dark);
    }
}

/* Shared button styles */
.toolbar {
    display: flex;
    gap: 8px;
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
}


.toolbar-button {
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    /*transition: background-color 0.2s ease;*/
    transition: none !important;
    border-radius: 6px;
    min-width: 150px;
    text-transform: none;
}

    .toolbar-button:hover,
    .toolbar-button:focus {
        border: none;
        outline: none;
        box-shadow: none;
        filter: brightness(0.95);
    }

.toolbar-button-light {
    background-color: var(--button-overlay-light);
    color: var(--button-text-color-light);
}

.toolbar-button-dark {
    background-color: var(--button-overlay-dark);
    color: var(--button-text-color-dark);
}